/benchmark/
/clang_format/
/googletest/
/jsoncpp/
/libbacktrace/
/libcxx/
/libcxxabi/
/libfuzzer/
/libunwind/
/linenoise/
/linux/
/linux64/
/llvm-project/
/protobuf/
/sqlite/
/sqlite_src/
/typefaces/
/zlib/
